:root {
  --primary: #ffd667;
  --bg: #721818;
  --bg2: #aa0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Baloo Chettan 2", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* ornamen hiasan */

.ornamen-kanan-atas {
  position: absolute;
  top: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

/* hiasan gangsa kanan kiri */

.hiasan-gangsa {
  display: flex;
  align-items: center;
}

.hiasan-gangsa .gangsa1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: scaleX(-1);
}

.hiasan-gangsa .gangsa2 {
  position: absolute;
  right: 0;
  top: 50%;
}

/* bulat hiasan */

.bulat-atas {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.bulat-bawah {
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

/* navigasi start*/

.back {
  display: flex;
  align-items: center;
  font-size: 2.5vw;
  font-weight: 700;
  padding: 1.5vw 7vw 0 4%;
  cursor: pointer;
  transition: all 0.3s;
}

.back h1 {
  font-weight: 800;
  margin-left: 15%;
  margin-bottom: 1%;
}

.back img:hover {
  transform: scale(1.1);
}

/* Judul start */

.Judul h1 {
  display: flex;
  justify-content: center;
  font-size: 6vw;
  margin-bottom: 2.5%;
  margin-top: -11%;
}

/* cover kuis */

.cover-kuis h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 70vw;
  height: 25vw;
  margin: auto;
  margin-top: -2.8%;
  border-radius: 30vw;
  color: var(--primary);
  box-shadow: 4px 4px 10px black;
}

.cover-tentang h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 65vw;
  height: 34vw;
  margin: auto;
  margin-top: -2.5%;
  border-radius: 5vw;
  color: var(--primary);
  box-shadow: 4px 4px 10px black;
}

.cover-tentang h1 img {
  height: 25vw;
  border-radius: 3vw;
  box-shadow: 4px 4px 1px black;
  margin-left: 53%;
}

.tentangKami {
  display: block;
  margin-left: 23%;
  margin-top: -28%;
  color: black;
}

.tentangKami .Nama {
  font-size: 2.5vw;
  font-weight: 700;
}

.tentangKami .Nama1 {
  font-size: 2.5vw;
  margin-top: -0.8%;
  font-weight: 600;
}

.tentangKami .Nama2 {
  margin-top: -0.1%;
  font-size: 1.3vw;
  font-weight: 500;
}

.tentangLanjut {
  margin-top: 0.1%;
}

.tentangLanjut span {
  font-size: 2.5vw;
  color: black;
}

.tentangLanjut img {
  height: 2vw;
  margin-right: 0.5%;
  cursor: pointer;
  transition: 0.3s ease;
}

.tentangLanjut img:hover {
  transform: scale(1.1);
}

.cover-skor h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 50rem;
  height: 15rem;
  margin: auto;
  margin-top: -2.5rem;
  border-radius: 5rem;
  color: var(--primary);
  box-shadow: 4px 4px 10px black;
}

/* kuis start */

.gambar-kuis {
  display: flex;
  justify-content: center;
  margin-top: -17.5rem;
}

.gambar-kuis img {
  width: 15rem;
}

/* jawaban kuis */

.opsi-jawaban1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
  margin-top: -1rem;
}

.opsi-jawaban1 img {
  width: 8rem;
  margin-left: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.opsi-jawaban1 img:hover {
  transform: scale(1.05);
}

.opsi-jawaban2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
}

.opsi-jawaban2 img {
  width: 8rem;
  margin-left: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.opsi-jawaban2 img:hover {
  transform: scale(1.05);
}

.opsi-jawaban1 .opsi-1 {
  display: flex;
  margin-right: 6rem;
}
.opsi-jawaban1 .opsi-2 {
  display: flex;
  margin-left: 6rem;
}
.opsi-jawaban2 .opsi-3 {
  display: flex;
  margin-right: 6rem;
}
.opsi-jawaban2 .opsi-4 {
  display: flex;
  margin-left: 6rem;
}

.cover-kuis img {
  height: 35vw;
  margin-left: 50%;
}

/* CSS Kuis */

#question-image {
  display: flex;
  margin-top: -24.8%;
  height: 23vw;
  margin-left: 20%;
}

#question-image1 {
  display: flex;
  margin-top: -24.8%;
  height: 23vw;
  margin-left: 20%;
  cursor: pointer;
  transition: 0.3s ease;
}

#question-image1:hover {
  transform: scale(1.1);
}

#quiz3 {
  display: flex;
  margin-top: -18rem;
  height: 15rem;
  margin-left: 20rem;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.option {
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.option img {
  display: flex;
  height: 13vw;
  background: none;
}

.option:hover {
  transform: scale(1.1);
}

#popup {
  display: flex;
  position: fixed;
  top: 44%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border-radius: 30vw;
  font-size: 20vw;
  text-align: center;
  z-index: 999;
  background: var(--primary);
  font-weight: 900;
}

h2 {
  display: flex;
  margin-top: -20%;
  margin-left: 43%;
  font-size: 9vw;
  color: black;
  font-weight: 800;
}

.ulangKembali img {
  height: 18vw;
  margin-left: 19%;
  margin-top: -15%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.ulangKembali img:hover {
  transform: scale(1.3);
}

.ulangKembali p {
  font-size: 6vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 2.8%;
}

/* CSS Pilihan Kuis */

.pilihanKuis {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  margin-right: 3.8%;
}

.pilihanKuis a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  height: 21.5vw;
  width: 21.5vw;
  margin-left: 3.5vw;
  border-radius: 100%;
  box-shadow: 4px 4px 10px black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pilihanKuis a:hover {
  transform: scale(1.1);
}

.pilihanKuis img {
  width: 15vw;
  text-align: center;
}

/* pop up dari kuis 2 */

#confirm-box {
  display: none;
  position: fixed;
  top: 43.9%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: white;
  padding: 3%;
  border-radius: 12px;
  font-size: 10vw;
  text-align: center;
  z-index: 999;
  height: 50vw;
  width: 50rem;
  border-radius: 10rem;
  animation: fadeIn 0.3s ease-in;
}

#confirm-image {
  width: 23vw;
  margin-top: 6%;
  margin-bottom: -10%;
  filter: drop-shadow(8px 8px 10vw rgba(0, 0, 0, 0.999));
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn.yes {
  background: var(--primary);
  border: 0.5vw solid rgb(0, 255, 0);
  font-size: 6vw;
  height: 11vw;
  width: 20vw;
  filter: drop-shadow(8px 8px 10px rgba(0, 255, 0, 90));
}
.btn.no {
  background: var(--primary);
  border: 0.5vw solid rgb(255, 0, 0);
  font-size: 6vw;
  height: 11vw;
  width: 20vw;
  filter: drop-shadow(8px 8px 10px rgba(255, 0, 0, 90));
}

.btn.yes.btn.no:hover {
  transform: scale(1.5);
}

.btn.yes:hover {
  background: rgb(0, 255, 0);
}
.btn.no:hover {
  background: rgb(255, 0, 0);
}

.restart-btn img {
  width: 80px;
  border-radius: 50%;
  background: #fff5cc;
  padding: 10px;
  border: 3px solid #f5d57d;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.restart-btn img:hover {
  transform: scale(1.1) rotate(10deg);
}

@media (min-width: 450px) {
  .gangsa1 {
    margin-top: 11%;
  }
  .gangsa2 {
    margin-top: 11%;
  }
  .bulat-bawah {
    top: 72%;
  }
}

@media (min-width: 1025px) {
  .gangsa1 {
    margin-top: 1%;
  }
  .gangsa2 {
    margin-top: 1%;
  }
  .bulat-bawah {
    top: 46%;
  }
}

