:root {
  --primary: #ffd667;
  --bg: #721818;
  --bg2: #aa0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Baloo Chettan 2", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* ornamen hiasan */

.ornamen-kanan-atas {
  position: absolute;
  top: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

/* hiasan gangsa kanan kiri */

.hiasan-gangsa {
  display: flex;
  align-items: center;
}

.hiasan-gangsa .gangsa1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: scaleX(-1);
}

.hiasan-gangsa .gangsa2 {
  position: absolute;
  right: 0;
  top: 50%;
}

/* bulat hiasan */

.bulat-atas {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.bulat-bawah {
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

/* navigasi start*/

.back {
  display: flex;
  align-items: center;
  font-size: 2.5vw;
  font-weight: 700;
  padding: 1.5vw 7vw 0 4%;
  cursor: pointer;
  transition: all 0.3s;
}

.back img:hover {
  transform: scale(1.1);
}

.judul h1 {
  display: flex;
  font-size: 4.3vw;
  margin: -12vw 0 4vw 18.5vw;
}
.judul h2 {
  display: flex;
  font-size: 4.3vw;
  margin: -6.5vw 0 1.5vw 18.5vw;
}

/* navigasi end */

/* navbar start */

.opsi {
  display: flex;
}

.opsipertama a {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 800;
  font-size: 2.7vw;
  background-color: var(--primary);
  border-radius: 7vw;
  box-shadow: 4px 4px 10px black;
  width: 31vw;
  height: 9.5vw;
  padding: 1.5vw;
  margin: 0 18vw 1.4vw;
  cursor: pointer;
  transition: all 0.3s;
}

.opsipertama a:hover {
  transform: scale(1.05);
}

.opsipertama a img {
  width: 10vw;
}

.opsikedua {
  margin-top: -5.7%;
}

.opsikedua a {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 800;
  font-size: 2.7vw;
  background-color: var(--primary);
  border-radius: 7vw;
  box-shadow: 4px 4px 10px black;
  width: 31vw;
  height: 9.5vw;
  padding: 1.5vw;
  margin: 0 -17vw 1.4vw;
  cursor: pointer;
  transition: all 0.3s;
}

.opsikedua a:hover {
  transform: scale(1.05);
}

.opsikedua a img {
  width: 10vw;
}
/* navbar end */

@media (min-width: 450px) {
  .gangsa1 {
    margin-top: 11%;
  }
  .gangsa2 {
    margin-top: 11%;
  }
  .bulat-bawah {
    top: 72%;
  }
}

@media (min-width: 1025px) {
  .gangsa1 {
    margin-top: 1%;
  }
  .gangsa2 {
    margin-top: 1%;
  }
  .bulat-bawah {
    top: 46%;
  }
}

