:root {
  --primary: #ffd667;
  --bg: #721818;
  --bg2: #aa0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Baloo Chettan 2", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* ornamen hiasan */

.ornamen-kanan-atas {
  position: absolute;
  top: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

/* hiasan gangsa kanan kiri */

.hiasan-gangsa {
  display: flex;
  align-items: center;
}

.hiasan-gangsa .gangsa1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: scaleX(-1);
}

.hiasan-gangsa .gangsa2 {
  position: absolute;
  right: 0;
  top: 50%;
}

/* bulat hiasan */

.bulat-atas {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.bulat-bawah {
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

/* navigasi start*/

.back {
  display: flex;
  align-items: center;
  font-size: 2.5vw;
  font-weight: 700;
  padding: 1.5vw 7vw 0 4%;
  cursor: pointer;
  transition: all 0.3s;
}

.back h1 {
  font-weight: 800;
  margin-left: 1.3vw;
  margin-bottom: 1.7vw;
}

.back img:hover {
  transform: scale(1.1);
}

/* hiro start */

.hiro {
  display: flex;
  justify-content: center;
}

.hiro img {
  height: 32vw;
  margin: -9% 3% 3%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s;
}

.hiro img:hover {
  transform: scale(1.05);
}

.hiro1 {
  display: flex;
  justify-content: center;
  margin-left: 6rem;
}

.hiro1 img {
  height: 25vw;
  margin: -3% 2% 4%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s;
}

.hiro1 img:hover {
  transform: scale(1.05);
}

.hiro1 .play-btn1 {
  height: 20vw;
  margin: 1% -4%;
}

/* hiro end */

/* opsi audio start */

.opsiaudio {
  display: flex;
  justify-content: center;
  margin-top: -2%;
}

.opsiaudio img {
  width: 12vw;
  cursor: pointer;
  transition: all 0.3s;
}

.opsiaudio img:hover {
  transform: scale(1.05);
}
/* opsi audio end */

@media (min-width: 450px) {
  .gangsa1 {
    margin-top: 11%;
  }
  .gangsa2 {
    margin-top: 11%;
  }
  .bulat-bawah {
    top: 72%;
  }
}

@media (min-width: 1025px) {
  .gangsa1 {
    margin-top: 1%;
  }
  .gangsa2 {
    margin-top: 1%;
  }
  .bulat-bawah {
    top: 46%;
  }
}

