:root {
  --primary: #ffd667;
  --bg: #721818;
  --bg2: #aa0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Baloo Chettan 2", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* ornamen hiasan */

.ornamen-kanan-atas {
  position: absolute;
  top: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

/* hiasan gangsa kanan kiri */

.hiasan-gangsa {
  display: flex;
  align-items: center;
}

.hiasan-gangsa .gangsa1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: scaleX(-1);
}

.hiasan-gangsa .gangsa2 {
  position: absolute;
  right: 0;
  top: 50%;
}
/* bulat hiasan */

.bulat-atas {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.bulat-bawah {
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

/* navigasi start*/

.back {
  display: flex;
  align-items: center;
  font-size: 2.5vw;
  font-weight: 700;
  padding: 1.5vw 7vw 0 4%;
  cursor: pointer;
  transition: all 0.3s;
}

.back h1 {
  font-weight: 800;
  margin-left: 1.3vw;
  margin-bottom: 1.7vw;
}

.back img:hover {
  transform: scale(1.1);
}

/* hiro start */

.hiro .putarVideo {
  display: flex;
  justify-content: center;
  font-size: 6vw;
  font-weight: 800;
  margin-top: -5%;
}

.hiro .hiro-start {
  display: flex;
  align-items: center;
  margin: -14% 32% 2.5%;
}

.hiro .hiro-start .gambarGong {
  width: 34vw;
}

.hiro .hiro-start1 {
  display: flex;
  align-items: center;
  margin: -4% 32% 7%;
}

.hiro .hiro-start1 .gambarGong {
  width: 30vw;
}

.hiro .hiro-start2 {
  display: flex;
  align-items: center;
  margin: -11% 34% 2%;
}

.hiro .hiro-start2 .gambarGong {
  justify-content: center;
  width: 30vw;
}

.hiro .hiro-start3 {
  display: flex;
  align-items: center;
  margin: -6% 37% 4%;
}

.hiro .hiro-start3 .gambarGong {
  justify-content: center;
  width: 24vw;
}

.hiro .hiro-start4 {
  display: flex;
  align-items: center;
  margin: -6% 38% 3%;
}

.hiro .hiro-start4 .gambarGong {
  justify-content: center;
  width: 25vw;
}

.play-btn {
  width: 11.5vw;
  cursor: pointer;
  transition: all 0.3s;
}
.play-btn:hover {
  transform: scale(1.2);
}

.putarVideo {
  color: var(--primary);
  background-color: var(--primary);
  margin: 3% 25%;
  width: 50vw;
  height: 17vw;
  border-radius: 30vw;
  box-shadow: 4px 4px 10px black;
}

.play-icon {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  margin: -18.8% 38%;
  transition: transform 0.2s;
}

.play-icon:hover {
  transform: scale(1.1);
}
/* hiro end */
